/*css 2*/
/*css para el reporte de pet*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 90%;
    max-width: 450px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: #D36B2D;
}

form {
    display: flex;
    flex-direction: column;
}

.grupo {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #D4AF37;
}

input:focus, select:focus, textarea:focus {
    border-color: #ff4d4d;
    outline: none;
}

button.pub {
    padding: 12px;
    background: #D36B2D;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 10px;
}

button .pub:hover {
    background: #ff4c4c;
    transform: scale(1.05s);
}

/*aqui termina css2*/

/*aqui inicia css3*/
/*Estilos para el menu hamburguesa*/
.cuenta {
    background-color: #D36B2D;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

.cuenta:hover {
    background-color: #ff4c4c;
    transform: scale(1.05);
}

/*Crea un menu sticky que se pega a la parte superior cuando se baja la pagina ademas con z-index se pone por delante de todo
.header {
    background-color: #E6E2D3;
    color: rgb(8, 95, 117);
    position: sticky;
    top: 0;
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: center;
    z-index: 1000;  
    height: 60px;
}

/*Aqui termina el menu sticky*/

.cre {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

/*codigo de acerca de nosotros*/
.chipocles {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

.equipo {
    text-align: center;
    margin-top: 40px;
}

.contenedor-equipo {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.carde {
    background: #f5f5f5;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

div h5 {
    color: red;
}
/*aqui termina*/

/*apartados de reportar*/
.reportes {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding: 40px;
}

.carda {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.carda button {
   font-weight: 700;
    color: white;
    padding: 9px 25px;
    background: #D36B2D;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

@media (max-width: 600px) {
    .reportes {
        grid-template-columns: 1fr; /* Cambia de 2 columnas a 1 */
        padding: 20px; /* Reduce un poco el espacio lateral en celular */
    }
    
    .carda {
        width: 100%; /* Asegura que la tarjeta use el ancho disponible */
    }
}
/*aqui termina*/

/*aqui termina css3*/


/*aqui inicia css4*/
/*css 4 para complementar y sacar mas puntos*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-link{
    text-decoration: none; /*decoracion del texto*/
    color: inherit; /*color*/
    display: flex; /*tipo de visualiacion*/
    align-items: center; /*alineacion vertical*/
    gap: 10px; /*da spacio entre filas*/
}

.header {
    background-color: #E6E2D3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 135px;/*para ajustar lo ancho de la barra gris*/
    padding: 5px 10%;
    z-index: 1;

    animation: Aparicion 0.8s ease-out forwards;  /*animacion para aperecer NO BORRAR*/
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 70px;
    width: auto;
    transform: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}
/*
.header .nav-links {
    list-style: none;
}

.header .i {
  font-size: 30px;
  cursor: pointer;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.2);
}

.header .nav-links a {
    font-size: 700;
    color: rgb(8, 95, 117);
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #D4AF37;
}

/* Botón hamburguesa */
#menu-btn {
  font-size: 30px;
  cursor: pointer;
  color: black;
  margin-left: auto;  /*  esto lo mueve */
  margin-right: 20px; 
}

/* Menú lateral */ 
.menu { 
  position: fixed; 
  top: 0; 
  left: -250px; /* oculto */ 
  width: 250px; 
  height: 100%; 
  background: #222; 
  padding-top: 60px; transition: 0.3s; 
  z-index: 1000; 
}

/* Menú activo */
.menu.active {
  left: 0;
}

/* Lista */
.menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.menu ul li {
  margin: 20px 0;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Hover */
.menu ul li a:hover {
  color: orange;
}
/*aqui termina menu hamburguesa*/

.header .btn button {
    font-weight: 700;
    color: white;
    padding: 9px 25px;
    background: #D36B2D;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: white;
    color: #D36B2D;
    transform: scale(1.2);
}

/*aqui termina css4*/

/*Para celulares*/
@media (max-width: 640px) {

  .header {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .text-box h1 {
    font-size: 35px;
  }

  .text-box p {
    font-size: 16px;
  }

  .contenedor-categorias {
    margin-top: 30px;
  }

  .card {
    height: 260px;
  }

  .formulario {
    padding: 20px;
  }

}

/*para tablets*/
@media (min-width: 768px) and (max-width: 1023px) {

  .categorias {
    gap: 30px;
  }

  .card {
    width: 200px;
    height: 280px;
  }

  .text-box h1 {
    font-size: 50px;
  }

  .contenedor-principal {
    flex-direction: row;
  }

}

/*para diferentes pc*/
@media (min-width: 1024px) {

  .categorias {
    gap: 40px;
  }

  .card {
    width: 260px;
    height: 320px;
  }

  .text-box h1 {
    font-size: 70px;
  }

}

@media (max-width: 640px) {

  .hero-video {
    height: 70vh; /* menos alto para celular */
  }

  .video-bg {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .text-box {
    padding: 15px 20px;
  }

  .text-box h1 {
    font-size: 28px;
  }

  .text-box p {
    font-size: 14px;
  }

}

@media (min-width: 768px) and (max-width: 1023px) {

  .hero-video {
    height: 80vh;
  }

  .text-box {
    padding: 20px 40px;
  }

  .text-box h1 {
    font-size: 45px;
  }

  .text-box p {
    font-size: 18px;
  }

}

@media (min-width: 1024px) {

  .hero-video {
    height: 100vh;
  }

}


@media (max-width: 600px) {

  .social-container {
    bottom: 10px;
    left: 10px;
    gap: 10px;
  }

  .social-container a {
    font-size: 22px;
    padding: 8px;
  }

}

@media (max-width: 400px) {

  .social-container {
    bottom: 8px;
    left: 8px;
  }

  .social-container a {
    font-size: 18px;
    padding: 6px;
  }

}

@media (min-width: 601px) and (max-width: 1023px) {

  .social-container {
    bottom: 15px;
    left: 15px;
  }

  .social-container a {
    font-size: 26px;
  }

}

@media (min-width: 1200px) {

  .social-container a {
    font-size: 34px;
    padding: 12px;
  }

}


@media (max-width: 600px) {

  .hero {
    padding: 25px 15px;
  }

  .hero p {
    font-size: 18px !important;
  }

  .hero h2 {
    font-size: 26px !important;
  }

  .Busqueda {
    width: 100%;
    padding: 8px;
  }

  .Busqueda input {
    font-size: 14px;
  }

}

@media (min-width: 601px) and (max-width: 1023px) {

  .hero {
    padding: 35px 20px;
  }

  .hero p {
    font-size: 22px !important;
  }

  .hero h2 {
    font-size: 34px !important;
  }

}

/*logo*/
/*celulares*/
@media (max-width: 600px) {

  .logo-link {
    gap: 5px;
  }

  .logo-link img {
    height: 45px;
  }

}
/*tablets*/
@media (min-width: 601px) and (max-width: 1023px) {

  .logo-link img {
    height: 60px;
  }

}
/*pantallas grandes*/
@media (min-width: 601px) and (max-width: 1023px) {

  .logo-link img {
    height: 60px;
  }

}
/*aqui termina lo del logo*/

/*buscador*/
/*para celulares*/
@media (max-width: 600px) {

  .Busqueda {
    width: 95%;
    padding: 8px;
  }

  .Busqueda input {
    font-size: 14px;
  }

  .Busqueda i {
    font-size: 16px;
    margin-left: 5px;
  }

}
/*para tablets*/
@media (min-width: 601px) and (max-width: 1023px) {

  .Busqueda {
    max-width: 400px;
  }

  .Busqueda input {
    font-size: 15px;
  }

}
/*pantallas grandes*/
@media (min-width: 1200px) {

  .Busqueda {
    max-width: 600px;
    padding: 12px;
  }

  .Busqueda input {
    font-size: 18px;
  }

  .Busqueda i {
    font-size: 20px;
  }

}

/*letras del titulo de rescatista*/
/*para celulares*/
@media (max-width: 600px) {

  .titulo-seccion {
    padding: 40px 15px;
  }

  .titulo-seccion h2 {
    font-size: 28px;
    margin: 0; /* importante */
  }

}
/*para tablets*/
@media (min-width: 601px) and (max-width: 1023px) {

  .titulo-seccion {
    padding: 60px 20px;
  }

  .titulo-seccion h2 {
    font-size: 40px;
    margin: -20px; /* menos agresivo */
  }

}
/*para pantallas grandes*/
@media (min-width: 1200px) {

  .titulo-seccion {
    padding: 100px 20px;
  }

  .titulo-seccion h2 {
    font-size: 60px;
  }

}
/*para celulares pqueños*/
@media (max-width: 400px) {

  .titulo-seccion h2 {
    font-size: 22px;
  }

}

/*media para filtros de busqueda en los apartados de perros*/
/*para celulares*/
@media (max-width: 600px) {

  .filtros {
    width: 95%;
    padding: 15px;
    margin: 20px auto;
  }

  .filtros h3 {
    font-size: 16px;
  }

  .grupo label {
    font-size: 11px;
  }

  select {
    font-size: 14px;
  }

  .btn-filtrar {
    padding: 8px;
    font-size: 14px;
  }

}
/*para tablets*/
@media (min-width: 601px) and (max-width: 1023px) {

  .filtros {
    width: 350px;
    padding: 18px;
  }

  .filtros h3 {
    font-size: 17px;
  }

}
/*para celulares pequeños*/
@media (max-width: 400px) {

  .filtros {
    padding: 10px;
  }

  .radio-group {
    flex-direction: column; /* se acomodan vertical */
    gap: 8px;
  }

}

/*formularios de reortar*/
/*para celular*/
@media (max-width: 600px) {

  .contenedor {
    width: 95%;
    padding: 20px;
    margin: 20px auto;
  }

  h2 {
    font-size: 22px;
  }

  input {
    padding: 12px;
    font-size: 14px;
  }

  button.pub {
    font-size: 14px;
    padding: 10px;
  }

  a.pub {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }

}
/*para tablets*/
@media (min-width: 601px) and (max-width: 1023px) {

  .contenedor {
    max-width: 400px;
    padding: 22px;
  }

  h2 {
    font-size: 24px;
  }

}
/*para pantallas grandes*/
@media (min-width: 1200px) {

  .contenedor {
    max-width: 500px;
    padding: 30px;
  }

  h2 {
    font-size: 28px;
  }

  input {
    font-size: 16px;
  }

}

/*media para tarjeta de donacion*/
/*para celular*/
@media (max-width: 600px) {

  .tarjeta-donacion{
    width: 90%;
    padding: 20px;
  }

  .tarjeta-donacion h3{
    font-size: 16px;
  }

  .precio{
    font-size: 26px;
  }

  .btn-donar{
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }

  .metodos{
    font-size: 13px;
  }

  .info-adopcion{
    padding: 20px;
    font-size: 14px;
  }

}
/*para tablets*/
@media (min-width: 601px) and (max-width: 1023px) {

  .tarjeta-donacion{
    width: 300px;
    padding: 22px;
  }

  .precio{
    font-size: 28px;
  }

  .info-adopcion{
    font-size: 15px;
  }

}
/*para pantallas grandes*/
@media (min-width: 1200px) {

  .tarjeta-donacion{
    width: 320px;
    padding: 30px;
  }

  .tarjeta-donacion h3{
    font-size: 20px;
  }

  .precio{
    font-size: 36px;
  }

  .btn-donar{
    font-size: 18px;
  }

  .info-adopcion{
    font-size: 18px;
  }

}
/*para celulares pequeños*/
@media (max-width: 400px) {

  .tarjeta-donacion{
    padding: 15px;
  }

  .precio{
    font-size: 22px;
  }

  .metodos{
    font-size: 12px;
  }

}

/*cuadro de doaciones voluntarias*/
/*para celular*/
@media (max-width: 600px) {

  .hero-ayudar {
    padding: 20px 10px;
  }

  .contenido-hero {
    font-size: 16px;
    margin: 0 auto; /* quitamos negativo */
    padding: 0 10px;
  }

  .contenido-hero p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px; /* corregido */
    padding: 10px;
  }

  .contenido-hero ul {
    padding-left: 20px;
    padding: 10px;
  }

  .contenido-hero li {
    font-size: 14px;
  }

}
/*para tablets*/
@media (min-width: 601px) and (max-width: 1023px) {

  .contenido-hero {
    font-size: 18px;
    margin: 0 auto;
  }

  .contenido-hero p {
    font-size: 18px;
    padding: 15px 25px;
    margin-bottom: 10px;
  }

  .contenido-hero ul {
    padding-left: 40px;
  }

}
/*para pntallas grandes*/
@media (min-width: 1200px) {

  .contenido-hero {
    font-size: 24px;
  }

  .contenido-hero p {
    font-size: 26px;
  }

  .contenido-hero li {
    font-size: 20px;
  }

}
/*para celulares pequeños*/
@media (max-width: 400px) {

  .contenido-hero p {
    font-size: 14px;
  }

  .contenido-hero li {
    font-size: 13px;
  }

}

/*para reglamento de rescatistas/
/*para celular*/
@media (max-width: 600px) {

  .hero-rescatista{
    padding: 20px 15px;
  }

  .contenedor-texto{
    width: 100%;
    text-align: center;
  }

  .contenedor-texto p{
    font-size: 15px;
    line-height: 1.6;
  }

}
/*para tablets*/
@media (min-width: 601px) and (max-width: 1023px) {

  .hero-rescatista{
    padding: 25px 30px;
  }

  .contenedor-texto p{
    font-size: 17px;
  }

}
/*para pantallas grandes*/
@media (min-width: 1200px) {

  .hero-rescatista{
    padding: 40px 80px;
  }

  .contenedor-texto{
    max-width: 900px;
  }

  .contenedor-texto p{
    font-size: 20px;
  }

}

/*para celulares pequeños*/
@media (max-width: 400px) {

  .hero-rescatista{
    padding: 15px 10px;
  }

  .contenedor-texto p{
    font-size: 14px;
  }

}
/*media para el mapa*/
/*para el celular*/
@media (max-width: 768px) {

    .mapa {
        padding: 10px;
    }

    .mapa iframe {
        height: 300px;
    }

    .mapa button {
        width: 100%;
        font-size: 16px;
    }

}
/*para tablets*/
@media (min-width: 768px) and (max-width: 1024px) {
    .mapa iframe {
        height: 350px;
    }
}

/*para pantallas grandes*/
@media (min-width: 1024px) {

    .mapa {
        max-width: 1000px;
    }

    .mapa iframe {
        height: 500px;
    }

}

/*media para lo de acceder*/
/*para tablets */
@media (min-width: 768px) {

  .registro h1 {
    font-size: 34px;
  }

  .cards {
    flex-direction: row;
    justify-content: center;
  }

  .card {
    width: 260px;
    padding: 20px;
  }

  .card h2 {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {

  .registro {
    padding: 40px;
  }

  .registro h1 {
    font-size: 42px;
  }

  .cards {
    gap: 30px;
  }

  .card {
    width: 280px;
    transition: 0.3s;
  }

  .card:hover {
    transform: translateY(-8px);
  }

  .card p {
    font-size: 14px;
  }

  .card a {
    padding: 10px 20px;
    transition: 0.3s;
  }

  .card a:hover {
    background: #5f62a3;
  }
}