/*Estilos para el menu hamburguesa*/
.cuenta {
    background-color: #D36B2D;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

.cuenta:hover {
    background-color: #ff4c4c;
    transform: scale(1.05);
}

/*Crea un menu sticky que se pega a la parte superior cuando se baja la pagina ademas con z-index se pone por delante de todo*/
.header {
    background-color: #E6E2D3;
    color: rgb(8, 95, 117);
    position: sticky;
    top: 0;
    display: grid;  /*es para crear las columnas sin problemas*/
    grid-template-columns: 1fr 1fr 1fr; /*crea 3 columnas iguales*/
    align-items: center;
    z-index: 1000;  /*Se poner por delante de todos los objetos*/
    height: 60px;
}
/*Aqui termina el menu sticky*/

.cre {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

/*codigo de acerca de nosotros*/
.chipocles {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

.equipo {
    text-align: center;
    margin-top: 40px;
}

.contenedor-equipo {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.carde {
    background: #f5f5f5;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

div h5 {
    color: red;
}
/*aqui termina*/

/*apartados de reportar*/
.reportes {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding: 40px;
}

.carda {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.carda button {
    background: #d96c2c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
@media (max-width: 600px) {
    .reportes {
        grid-template-columns: 1fr; /* Cambia de 2 columnas a 1 */
        padding: 20px; /* Reduce un poco el espacio lateral en celular */
    }
    
    .carda {
        width: 100%; /* Asegura que la tarjeta use el ancho disponible */
    }
}
/*aqui termina*/