/*Estilos para el menu hamburguesa*/
.cuenta {
    background-color: #D36B2D;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

.cuenta:hover {
    background-color: #ff4c4c;
    transform: scale(1.05);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.nav-list{
    list-style-type: none;
    display: flex;
    gap:1rem;
}
.nav-list li a{
    text-decoration: none;
    color: #1c1c1c;
}
.abrir-menu, 
.cerrar-menu {
    visibility: hidden;
}
@media screen and (max-width:550px) {
    .abrir-menu,
    .cerrar-menu{ 
        display: block;
    } 
    .menu{
        opacity: 0;
        visibility: hidden;
  
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        background-color:#E6E2D3 ;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
     }
     .nav.visible{
        opacity: 1;
        visibility: visible;
     }
     .nav-list{
     flex-direction: column;
     align-items: end;
     }
     
.nav-list li a{
    color: #D36B2D;
}
}
