.logo {
 position: absolute;
  top: -5px;
  right: 1225px;
  color: #219B9D;
}

.friends {
 position: absolute;
  top: 0px;
  right: -95px;
  color:#FF8000;
}

.hub {
 position: absolute;
  top: 25px;
  right: -30px;
  color:hsl(181, 65%, 37%);
}

.hero {
  position: absolute;
top:  -50px;
right: 550px;
}
.btn {
  position: absolute;
top:  30px;
right: 20px;
color: #FF8000;
}

.Busqueda {
position: absolute;
top: 135px;
right: 20px; 
width: 350px;
display: flex;
align-items: center;
background-color: white;
border: 1px solid #ccc;
border-radius: 4px;
padding: 0 15px;
}
.Busqueda input {
border: none;
outline: none;
background: transparent;
flex: 1; 
padding: 8px;
font-size: 18px;
}
.Busqueda i {
font-size: 18px;
margin-left: 10px;
cursor: pointer;
}