.logo {
 position: absolute;
  top: 50px;
  right: 50px;
  color: #219B9D;
}

.friends {
 position: absolute;
  top: 20px;
  right: 20px;
  color:#FF8000;
}

.hub {
 position: absolute;
  top: 20px;
  right: 20px;
  color:#219B9D;
}