.logo-text {
margin: 0;
font-size: 22px;
font-weight: bold;
color: #2D4F4F;
}

.friends {
  color:#D36B2D;
}

.hub {
  color:#2D4F4F;
}

.hero {
text-align: center;
padding: 40px 20px;
}
.btn {
padding: 10px 15px;
border: none;
background: white;
cursor: pointer;
}

.Busqueda {
margin: auto;
margin-top: 20px;
width: 90%;
max-width: 500px;
display: flex;
align-items: center;
background: white;
border: 1px solid #ccc;
border-radius: 4px;
padding: 10px;
}

.Busqueda input {
border: none;
outline: none;
flex: 1;
front-size: 16px;
}

.Busqueda i {
font-size: 18px;
margin-left: 10px;
cursor: pointer;
}

.navbar {
  background-color: #E6E2D3;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 40px;
  height: 40px;
}

.contenedor-categorias {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.categorias {
  display: flex;
  gap: 40px;
  width: max-content;
}

.card {
  width: 280px;
  height: 320px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  transition: .25s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0,0,0,.25);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(transparent, rgba(0,0,0,.7));
  color: white;
  z-index:2;
}