.logo-text {
margin: 0;
font-size: 22px;
font-weight: bold;
color: #2D4F4F;
}

.friends {
  color:#D36B2D;
}

.hub {
  color:#2D4F4F;
}

.hero {
text-align: center;
padding: 40px 20px;
}
.btn {
padding: 10px 15px;
border: none;
background: white;
cursor: pointer;
}

.Busqueda {
margin: auto;
margin-top: 20px;
width: 90%;
max-width: 500px;
display: flex;
align-items: center;
background: white;
border: 1px solid #ccc;
border-radius: 4px;
padding: 10px;
}

.Busqueda input {
border: none;
outline: none;
flex: 1;
front-size: 16px;
}

.Busqueda i {
font-size: 18px;
margin-left: 10px;
cursor: pointer;
}

.navbar {
  background-color: #E6E2D3;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 40px;
  height: 40px;
}