.logo {
 position: absolute;
  top: 10px;
  right: 10px;
  color: #219B9D;
}

.friends {
 position: absolute;
  top: 20px;
  right: 20px;
  color:#FF8000;
}

.hub {
 position: absolute;
  top: 20px;
  right: 20px;
  color:#219B9D;
}