.logo {
 position: absolute;
  top: -5px;
  right: 1225px;
  color: #219B9D;
}

.friends {
 position: absolute;
  top: 0px;
  right: -95px;
  color:#FF8000;
}

.hub {
 position: absolute;
  top: 25px;
  right: -30px;
  color:#219B9D;
}

.hero {
  position: absolute;
top:  -20px;
right: 550px;
}

.btn {
  position: absolute;
top:  10px;
right: 20px;
color: #FF8000;
}

.buscador {
position: absolute;
top:  120px;
right: 0px;
}
