.logo {
 position: absolute;
  top: -5px;
  right: 1225px;
  color: #219B9D;
}

.friends {
 position: absolute;
  top: 0px;
  right: -95px;
  color:#FF8000;
}

.hub {
 position: absolute;
  top: 25px;
  right: -30px;
  color:hsl(181, 65%, 37%);
}

.hero {
  position: absolute;
top:  -50px;
right: 550px;
}

.btn {
  position: absolute;
top:  10px;
right: 20px;
color: #FF8000;
}

.buscador {
position: absolute;
top:  135px;
right: 120px;
width: 550px;
font-size: 18px;
}
.buscador input{width: 90%;
padding: 8px;
font-size: 18px;}
