body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #309898;
}

.hub {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 35px;
  cursor: pointer;
}
